<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Networking1/src/com/hackbulgaria/javacore/networking1/FindReachables.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.hackbulgaria.javacore.networking1.FindReachables"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Networking1"/>
</launchConfiguration>
